In [11]:
import pandas as pd
import numpy as np

# __Pandas Data Series__
### *__Q.1:- Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.__*
### __*Ans:-*__

In [12]:
ds = pd.Series([10,20,13,52,15,5,12,5,155,554])
ds

0     10
1     20
2     13
3     52
4     15
5      5
6     12
7      5
8    155
9    554
dtype: int64

### *__Q.2:- Write a Pandas program to convert a Panda module Series to Python list and it's type.__*
### __*Ans:-*__

In [13]:
ds = pd.Series([10,20,13,52,15,5,12,5,155,554])
print(ds,"\n",type(ds),"\n")
lst=ds.to_list()
print(lst,"\n",type(lst))

0     10
1     20
2     13
3     52
4     15
5      5
6     12
7      5
8    155
9    554
dtype: int64
 <class 'pandas.core.series.Series'>

[10, 20, 13, 52, 15, 5, 12, 5, 155, 554]
 <class 'list'>

### *__Q.3:-  Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]__*
### __*Ans:-*__

In [14]:
ds1 =  pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
dsadd = ds1 + ds2
print("\nadded Series is : \n",dsadd)
dssub = ds1 - ds2
print("\nSubstracte Series is : \n",dssub)
dsmul = ds1 * ds2
print("\nMultiplied Series is : \n",dsmul)
dsdiv = ds1 / ds2
print("\nDivided Series is : \n",dsdiv)

added Series is :
 0     3
1     7
2    11
3    15
4    19
dtype: int64

Substracte Series is :
 0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplied Series is :
 0     2
1    12
2    30
3    56
4    90
dtype: int64

Divided Series is :
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

### *__Q.4:-  Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]__*
### __*Ans:-*__

In [15]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("The Comparison of two Data Series is as follows :")
ds1.compare(ds2)

The Comparison of two Data Series is as follows :

   self  other
0   2.0    1.0
1   4.0    3.0
2   6.0    5.0
3   8.0    7.0

### *__Q.5:-  Write a Pandas program to convert a dictionary to a Pandas series.__*
### __*Ans:-*__

In [16]:
Original_dictionary= {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ds = pd.Series(Original_dictionary)
print("Conversion of a directry is as follows :")
ds

Conversion of a directry is as follows :

a    100
b    200
c    300
d    400
e    800
dtype: int64

### *__Q.6:-  Write a Pandas program to convert a NumPy array to a Pandas series.__*
### __*Ans:-*__

In [17]:
np_array = np.array([10 ,20 ,30 ,40 ,50])
ds = pd.Series(np_array)
print("Conversion of NUmPy Array is as follows : ")
ds

Conversion of NUmPy Array is as follows :

0    10
1    20
2    30
3    40
4    50
dtype: int64

### *__Q.7:-  Write a Pandas program to change the data type of given a column or a Series.__*
### __*Ans:-*__

In [18]:
O_ds = pd.Series(['100','200','Python','300.12','400'])
print(O_ds,"\n",type(O_ds))
pd.to_numeric(O_ds,'coerce').astype(float)

0       100
1       200
2    Python
3    300.12
4       400
dtype: object
 <class 'pandas.core.series.Series'>

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

### *__Q.8:-  Write a Pandas program to convert the first column of a DataFrame as a Series.__*
### __*Ans:-*__

In [19]:
df = pd.DataFrame({'col1':[1,2,3,4,7,11], 'col2':[4,5,6,7,5,0],'col3':[7,5,8,12,1,11]})
ds = df['col1']
print(ds)
type(ds)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

pandas.core.series.Series

### *__Q.9:-  Write a Pandas program to convert a given Series to an array.__*
### __*Ans:-*__

In [20]:
ds = pd.Series(['100','200','Python','300.12','400'])
arr = ds.to_numpy()
arr

array(['100', '200', 'Python', '300.12', '400'], dtype=object)

### *__Q.10:-  Write a Pandas program to convert Series of lists to one Series.__*
### __*Ans:-*__

In [21]:
ds.apply(pd.Series).stack().reset_index(drop=True)

0       100
1       200
2    Python
3    300.12
4       400
dtype: object

### *__Q.11:-  Write a Pandas program to sort a given Series.__*
### __*Ans:-*__

In [22]:
ds = pd.Series(['100','200','Python','300.12','400'])
print(ds)
print(ds.sort_values())

0       100
1       200
2    Python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    Python
dtype: object

### *__Q.12:-  Write a Pandas program to add some data to an existing Series.__*
### __*Ans:-*__

In [23]:
ds = pd.Series(['100','200','Python','300.12','400'])
pd.concat([ds,pd.Series('500')])

0       100
1       200
2    Python
3    300.12
4       400
0       500
dtype: object

### *__Q.13:-  Write a Pandas program to create a subset of a given series based on value and condition.__*
### __*Ans:-*__

In [24]:
ds = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
cond = ds.values <=5
ds[cond]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

### *__Q.14:-  Write a Pandas program to change the order of index of a given series.__*
### __*Ans:-*__

In [25]:
ds = pd.Series([0,1,2,3,4,5],index=['A','B','C','D','E','F'])
print(ds)
ds.reindex(index=['B','A','D','C','E','F'])

A    0
B    1
C    2
D    3
E    4
F    5
dtype: int64

B    1
A    0
D    3
C    2
E    4
F    5
dtype: int64

### *__Q.15:-  Write a Pandas program to create the mean and standard deviation of the data of a given Series.__*
### __*Ans:-*__

In [26]:
ds = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(ds)
print("Mean pf above date Series is ",ds.mean())
print("Satanded Daviation of Above Data Series is ",ds.std())

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean pf above date Series is  4.818181818181818
Satanded Daviation of Above Data Series is  2.522624895547565

### *__Q.16:-  Write a Pandas program to get the items of a given series not present in another given series.__*
### __*Ans:-*__

In [27]:
ds1 = pd.Series([1,2,3,4,5])
ds2 = pd.Series([2,4,6,8,10])
ds1[~ds1.isin(ds2)]

0    1
2    3
4    5
dtype: int64

### *__Q.17:-  Write a Pandas program to get the items which are not common of two given series.__*
### __*Ans:-*__

In [28]:
ds1 = pd.Series([1,2,3,4,5])
ds2 = pd.Series([2,4,6,8,10])
dsu = pd.Series(np.union1d(ds1,ds2))
dsi = pd.Series(np.intersect1d(ds1,ds2))
dsUC = dsu[(~dsu.isin(dsi))]
ds[dsUC]

1     2
3     4
5     6
6     7
8     9
10    3
dtype: int64

### *__Q.18:-  Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.__*
### __*Ans:-*__

In [29]:
ds1 = pd.Series([45.984984,65.4984984,98.7684654,98.4654654,97.865132198,13.5764,34.684351,54.684321,49.843513,49.84351654,64.657987,79.79846,79.8646,79.46546,79.878465466,67.94654,9.87,79.879864,47.6846,45.5465])
print("minimum = ",ds1.min(),"\n25th percentile = ",ds1.quantile(0.25),"\nmedian = ",ds1.median(),"\n75th Percentile",ds1.quantile(0.75),"\nmaximum = ",ds1.max())

minimum =  9.87
25th percentile =  47.259696000000005
median =  65.0782427
75th Percentile 79.86806636649999
maximum =  98.7684654

### *__Q.19:-  Write a Pandas program to calculate the frequency counts of each unique value of a given series.__*
### __*Ans:-*__

In [30]:
ds = pd.Series([1,25,1,5,1,5,6,4,8,4,8,4,4,4,4,6547,45,5,78,87,8,8,7,8,7,7,9,96,4,91,3,8])
ds.value_counts()

4       7
8       6
1       3
5       3
7       3
6       1
25      1
6547    1
45      1
78      1
87      1
9       1
96      1
91      1
3       1
dtype: int64

### *__Q.20:-  Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.__*
### __*Ans:-*__

In [31]:
ds = pd.Series([1,25,1,5,1,5,6,4,8,4,8,4,4,4,6547,45,5,78,87,8,8,7,8,7,7,9,96,4,91,3,8])
m_i = ds.value_counts().head(1).index[0]
m_i
ds[ds!=m_i] = 'Other'
ds

0     Other
1     Other
2     Other
3     Other
4     Other
5     Other
6     Other
7         4
8     Other
9         4
10    Other
11        4
12        4
13        4
14    Other
15    Other
16    Other
17    Other
18    Other
19    Other
20    Other
21    Other
22    Other
23    Other
24    Other
25    Other
26    Other
27        4
28    Other
29    Other
30    Other
dtype: object

### *__Q.21:-  Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.__*
### __*Ans:-*__

In [32]:
ds = pd.Series([1,25,1,5,1,5,6,4,8,4,8,4,4,4,6547,45,5,78,87,8,8,7,8,7,7,9,96,4,91,3,8])
ds[ds%5==0].index

Int64Index([1, 3, 5, 15, 16], dtype='int64')

### *__Q.22:-  Write a Pandas program to extract items at given positions of a given series.__*
### __*Ans:-*__

In [33]:
ds = pd.Series([1,25,1,5,1,5,6,4,8,4,8,4,4,4,6547,45,5,78,87,8,8,7,8,7,7,9,96,4,91,3,8])
loc = 10
print(ds)
print('Item at location 10 is = :' , ds.iloc[10])

0        1
1       25
2        1
3        5
4        1
5        5
6        6
7        4
8        8
9        4
10       8
11       4
12       4
13       4
14    6547
15      45
16       5
17      78
18      87
19       8
20       8
21       7
22       8
23       7
24       7
25       9
26      96
27       4
28      91
29       3
30       8
dtype: int64
Item at location 10 is = : 8

### *__Q.23:-  Write a Pandas program to get the positions of items of a given series in another given series.__*
### __*Ans:-*__

In [34]:
ds1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
ds2 = pd.Series([1,3,5,7,10])
ds1[ds1.isin(ds2)].index

Int64Index([0, 2, 4, 6, 9], dtype='int64')

### *__Q.24:-  Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.__*
### __*Ans:-*__

In [35]:
ds = pd.Series(['php','python','java','c#'])
result = ds.map(lambda x: x[0].upper() + x[1:-1]+x[-1].upper())
result

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

### *__Q.25:-  Write a Pandas program to calculate the number of characters in each word in a given series.__*
### __*Ans:-*__

In [36]:
ds = pd.Series(['php','python','java','c#'])
# print(ds)
ds.map(lambda x: print(len(x)))
ds

3
6
4
2

0       php
1    python
2      java
3        c#
dtype: object

### *__Q.26:- Write a Pandas program to compute difference of differences between consecutive numbers of a given series.__*
### __*Ans:-*__

In [37]:
ds = pd.Series([1,3,5,8,10,11,15])
print(ds.diff())
print(ds.diff().diff())

0    NaN
1    2.0
2    2.0
3    3.0
4    2.0
5    1.0
6    4.0
dtype: float64
0    NaN
1    NaN
2    0.0
3    1.0
4   -1.0
5   -1.0
6    3.0
dtype: float64

### *__Q.27:-  Write a Pandas program to convert a series of date strings to a timeseries.__*
### __*Ans:-*__

In [38]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(pd.to_datetime(date_series))

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

### *__Q.28:-  Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.__*
### __*Ans:-*__

In [39]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
ds = pd.to_datetime(date_series)
print(ds)
print("The day of the month is",ds.dt.day)
print("The day of the wekk is \n",ds.dt.day_of_year)
print("The week of year by date is as follows : \n",ds.dt.isocalendar()['week'])
print("The name of day is : \n",ds.dt.day_name())

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]
The day of the month is 0     1
1     2
2     7
3     6
4    12
5     6
dtype: int64
The day of the wekk is
 0      1
1    276
2     66
3    126
4    103
5     96
dtype: int64
The week of year by date is as follows :
 0     1
1    39
2    10
3    19
4    15
5    14
Name: week, dtype: UInt32
The name of day is :
 0     Thursday
1       Sunday
2    Wednesday
3      Tuesday
4      Tuesday
5     Saturday
dtype: object

### *__Q.29:-  Write a Pandas program to convert year-month string to dates adding a specified day of the month.__*
### __*Ans:-*__

In [40]:
ds = pd.Series(["Jan 2015","Feb 2016","Mar 2017","Apr 2018","May 2019",])
# ds = ds.map(lambda x:x+" 11")
ds = pd.to_datetime(ds+" 11")
ds

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

### *__Q.30:-  Write a Pandas program to filter words from a given series that contain atleast two vowels.__*
### __*Ans:-*__

In [41]:
ds =pd.Series(["Red","Green","Orange","Pink","Yellow","White",])
cond = ds.map(lambda x: len([i for i in x.lower() if i in [j for j in "aeiou"]])>=2)
ds[cond]

1     Green
2    Orange
4    Yellow
5     White
dtype: object

### *__Q.31:-  Write a Pandas program to compute the Euclidean distance between two given series. Euclidean distance From Wikipedia, In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.__*
### __*Ans:-*__

In [42]:
ds1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
ds2 = pd.Series([11,8,7,5,6,5,3,4,7,1])
print("The Euclidean norm is ",np.sqrt(np.sum((ds1-ds2)**2)))

The Euclidean norm is  16.492422502470642

### *__Q.32 :-  Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.__*
### __*Ans:-*__

In [43]:
ds = pd.Series([1,8,7,5,6,5,3,4,7,1,])
cond1= ds.diff()>0
cond2= ds.diff(-1)>0
ds[cond1 & cond2].index

Int64Index([1, 4, 8], dtype='int64')

### *__Q.33:-  Write a Pandas program to replace missing white spaces in a given string with the least frequent character.__*
### __*Ans:-*__

In [44]:
ds = pd.Series([i for i in 'abc def abcdef icd'])
m_i = ds.value_counts().sort_values().head(1).index[0]
cond = ds == " "
ds[cond] = m_i
"".join(ds)

'abcidefiabcdefiicd'

### *__Q.34:-  Write a Pandas program to compute the autocorrelations of a given numeric series. From Wikipedia: Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.__*
### __*Ans:-*__

In [45]:
ds = pd.Series([13.207262,4.098685,-1.435534,13.626760,-2.346193,17.873884,46.5465,65.4654,46.546,46.5464,45.321464,18.8473537,74.34746,78.3567,54.3548])
ds.corr

<bound method Series.corr of 0     13.207262
1      4.098685
2     -1.435534
3     13.626760
4     -2.346193
5     17.873884
6     46.546500
7     65.465400
8     46.546000
9     46.546400
10    45.321464
11    18.847354
12    74.347460
13    78.356700
14    54.354800
dtype: float64>

### *__Q.35:-  Write a Pandas program to create a TimeSeries to display all the Sundays of given year.__*
### __*Ans:-*__

In [46]:
ds = pd.Series(["2020-01-05","2020-01-12","2020-01-20","2020-01-27","2020-02-02","2020-02-10","2020-12-07","2020-12-13","2020-12-20","2020-12-27"])
ds = pd.to_datetime(ds)
cond = ds.dt.day_name() == 'Sunday'
ds[cond].dt.day_name()

0    Sunday
1    Sunday
4    Sunday
7    Sunday
8    Sunday
9    Sunday
dtype: object

### *__Q.36:-  Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.__*
### __*Ans:-*__

In [47]:
ds = pd.Series([0,1,2,3,4])
print(ds,"\n",type(ds))
ds = ds.reset_index()
print(ds,"\n",type(ds))

0    0
1    1
2    2
3    3
4    4
dtype: int64
 <class 'pandas.core.series.Series'>
   index  0
0      0  0
1      1  1
2      2  2
3      3  3
4      4  4
 <class 'pandas.core.frame.DataFrame'>

### *__Q.37:-  Write a Pandas program to stack two given series vertically and horizontally.__*
### __*Ans:-*__

In [48]:
ds1 = pd.Series([1,2,3,4,5,6,7,8,9])
ds2 = pd.Series([i for i in "pqrstuvwxy"])
dsv = pd.concat([ds1,ds2]).reset_index(drop=True)
print("Stcked Vertically")
print(dsv)
dsh = pd.concat([ds1,ds2],axis=1).reset_index(drop=True)
print("Stcked Horizontally")
print(dsh)

Stcked Vertically
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     p
10    q
11    r
12    s
13    t
14    u
15    v
16    w
17    x
18    y
dtype: object
Stcked Horizontally
     0  1
0  1.0  p
1  2.0  q
2  3.0  r
3  4.0  s
4  5.0  t
5  6.0  u
6  7.0  v
7  8.0  w
8  9.0  x
9  NaN  y

### *__Q.38:-  Write a Pandas program to check the equality of two given series.__*
### __*Ans:-*__

In [49]:
ds1 = pd.Series([1,2,3,4,5,6,7,8,9])
ds2 = pd.Series([1,2,76,4,5,67,54,8,4])
print("Check 2 series are equal or not?")
ds1==ds2

Check 2 series are equal or not?

0     True
1     True
2    False
3     True
4     True
5    False
6    False
7     True
8    False
dtype: bool

### *__Q.39:-  Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.__*
### __*Ans:-*__

In [50]:
ds = pd.Series([2,76,4,5,67,54,8,4])
cond1 = ds == ds.min()
cond2 = ds == ds.max()
max_i = ds[cond1].index[0]
min_i = ds[cond2].index[0]
print(f"The index minimum value in the given Series is '{min_i}'")
print(f"The index Maximum value in the given Series is '{max_i}'")

The index minimum value in the given Series is '1'
The index Maximum value in the given Series is '0'

### *__Q.40:-  Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.__*
### __*Ans:-*__

In [51]:
data = {'W':[68.0,75.0,86.0,80.0,np.nan] ,'X':[78.0,75.0,np.nan,80.0,86.0] ,'Y':[84,94,89,86,86] ,'Z':[86,97,96,72,83]}
df = pd.DataFrame(data)
ds = pd.Series([68.0,75.0,86.0,80.0,np.nan,])
print("inequality of the said series & dataframe:")
~df.isin(ds)

inequality of the said series & dataframe:

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True